on: [push, pull_request]

name: check code

jobs:
  checks:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.python }})

    strategy:
      matrix:
        config:
          - {os: ubuntu-latest,   python: '3.11'}

    steps:
      - name: Set up Repo
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.config.python }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.config.python }}
      - name: Set up dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check formatting - black
        run: |
          black . --check
      - name: Check import formatting - isort 
        run: |
          isort . --check
      - name: Check static typing - mypy
        run: |
          mypy --strict pyratehike
      - name: Check code style - pylint
        run: |
          pylint pyratehike
      - name: Check examples - doctest
        run: |
          python3 -m doctest pyratehike/*.py

